
body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
}
.sendEmailStyle{
    width: 100%;
    height: 100px;
    float: left;
    left:2%;
    right: 2%;
}

#leftPanel ul li h3{ position:relative; text-indent: 50px;}
#leftPanel ul li h3.tips2{ background-image: url("../img/icon2.png"); background-repeat: no-repeat; background-position:0px 2px;}
#leftPanel ul li h3 span{ position: absolute; left:60%; top:-20px; line-height: 18px;}


#leftPanel ul li h3.tips3{ background-image: url("../img/icon3.png"); background-repeat: no-repeat; background-position:0px 2px;}
#leftPanel ul li h3.tips4{ background-image: url("../img/icon4.png"); background-repeat: no-repeat; background-position:0px 2px;}
#leftPanel ul li h3.tips5{ background-image: url("../img/icon5.png"); background-repeat: no-repeat; background-position:0px 2px;}
#leftPanel ul li h3.tips6{ background-image: url("../img/icon6.png"); background-repeat: no-repeat; background-position:0px 2px;}
#leftPanel ul li h3.tips7{ background-image: url("../img/icon7.png"); background-repeat: no-repeat; background-position:0px 2px;}



